@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/*   a very cool font ⬆   */

body {
    background: black;
    animation: gradientAnimation 15s ease infinite;
    color: #ffffff;
    font-family: 'IBM Plex Mono';
    text-align: center;
}

/* this is most likely not the best way to do this */

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

.hidden {
    display: none;
}

.title {
    text-align: center;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #9900a1, #4801ad);
    background-clip: text;
    position: relative;
    z-index: 1;
}

.title::after {
    content: attr(data-text); /* Fetches text from data-text attribute */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50.5%, -56%);  /* Centers the text */
    opacity: 0.8;
    filter: blur(5px);
    z-index: -1;
    background: inherit;
    background-clip: text;
    width: 100%;
    text-align: center;
}

.story-card {
    background-color: rgba(181, 0, 236, 0.3);
    border: 2px solid rgba(181, 0, 236, 0.2);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 8px rgba(181, 0, 236, 0.1);
    color: white;
    margin-bottom: 10px;
}



.game-container button {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px rgba(181, 0, 236, 1);
    color: white;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    border: none
}

.game-container button:hover {
    background-color: rgba(181, 0, 236, 1);
}

.glow-on-hover {
    border: 2px solid rgba(181, 0, 236, 0.2);
    outline: none;
    color: white;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    cursor: pointer;
}

.glow-on-hover:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.708);
    box-shadow: 0 0 8px rgba(181, 0, 236, 0.1);
    border: 2px solid rgba(181, 0, 236, 0.2);
    position: absolute;
    top: -8px;
    left:-8px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:hover:before {
    opacity: 0.5;
}

/* GitHub Icon Styling */
.github-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #24292e;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.github-button:hover {
    transform: scale(1.1);
}

.github-icon {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.discord-icon {
    width: 30px;
    height: 30px;
}

.discord-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #24292e;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
    position: absolute;
    top: 75px;
    right: 10px;
    z-index: 10;
}

.discord-button:hover {
    transform: scale(1.1);
}

.teatree-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    overflow: hidden;
    z-index: 10;
    top: 140px;
    right: 10px;
}

.teatree-image {
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
}

.teatree-image:hover {
    transform: scale(1.1);
}

.restart-btn {
    background-color: #ff4757;
    box-shadow: 0 0 10px #ff4757;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.restart-btn:hover {
    background-color: #e84118;
}

/* From https://css-loaders.com/dots/. Cool website for css loaders*/
.loader {
    width: 4px;
    color: #ffffff;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 
      19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px,
      19px 0     0 5px, 38px 0     0 5px, 57px 0     0 5px,
      19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 0px;
    transform: translateX(-38px);
    animation: l26 2s infinite linear;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  @keyframes l26 {
    12.5% {box-shadow: 
      19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 5px,
      19px 0     0 5px, 38px 0     0 0px, 57px 0     0 5px,
      19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 0px}
    25%   {box-shadow: 
      19px -19px 0 5px, 38px -19px 0 0px, 57px -19px 0 5px,
      19px 0     0 0px, 38px 0     0 0px, 57px 0     0 0px,
      19px 19px  0 0px, 38px 19px  0 5px, 57px 19px  0 0px}
    50%   {box-shadow: 
      19px -19px 0 5px, 38px -19px 0 5px, 57px -19px 0 0px,
      19px 0     0 0px, 38px 0     0 0px, 57px 0     0 0px,
      19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 5px}
    62.5% {box-shadow: 
      19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px,
      19px 0     0 5px, 38px 0     0 0px, 57px 0     0 0px,
      19px 19px  0 0px, 38px 19px  0 5px, 57px 19px  0 5px}
    75%   {box-shadow: 
      19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
      19px 0     0 0px, 38px 0     0 0px, 57px 0     0 5px,
      19px 19px  0 0px, 38px 19px  0 0px, 57px 19px  0 5px}
    87.5% {box-shadow: 
      19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
      19px 0     0 0px, 38px 0     0 5px, 57px 0     0 0px,
      19px 19px  0 5px, 38px 19px  0 0px, 57px 19px  0 0px}
}

.popup {
    border: 1px solid rgba(181, 0, 236, 0.5);
    background-color: rgba(181, 0, 236, 0.12156862745098039);
    box-shadow: 0 0 10px rgba(181, 0, 236, 1);
    color: #ffffff;
    transition:0.5s;
    animation: fadeIn 0.5s ease-in-out;
    bottom: 20px;
    right: 20px;
    position: fixed;
    display: none;
    align-items: center;
    border-radius: 50px;
}

.popup:hover{
    background-color: rgba(181, 0, 236, 1);
    transition:0.5s;
}

.popup-message {
    margin-left: 10px;
    margin-right: 10px;
}

/* Close Button */
.popup button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 0 5px;
    text-align: right;
    margin-left: 10px;
    margin-right: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(50px); }
    to { opacity: 1; transform: translateY(0); }
}