<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AIBound</title>
    <meta name="description" content="An AI RPG made game!">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo-no-background.png')}}">
    <meta name="author" content="Grandalfwise">
</head>

<body>

    <button id="restart-button" class="restart-btn" onClick="window.location.reload();" style="display: none;">Restart</button>

    <a href="https://github.com/Grandalfwise/AI-RPG-Website" target="_blank" class="github-button">
        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" class="github-icon">
    </a>
    <a href="https://discord.gg/8Fcku2M5Gx" target="_blank" class="discord-button">
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968756.png" alt="Discord" class="discord-icon">
    </a>
    <a href="https://discord.gg/aQbvStbN3h" target="_blank" class="teatree-link">
        <img src="{{ url_for('static', filename='images/teatree-logo.png')}}" alt="Teatree Discord" class="teatree-image">
    </a>

    <div id="game-container" class="game-container">
        <h1 class="title" data-text="AIBound">AIBound</h1>
        <div id="story-selection">
            <h2 class="title" data-text="Select a Story:">Select a Story:</h2>
            <p>
                {% for key, description in stories.items() %}
                    <p><button class="glow-on-hover" style="font-family: 'IBM Plex Mono';" onclick="startGame('{{ key }}'); showPopup('Starting Story')">{{ description }}</button></p>
                {% endfor %}
            </p>
        </div>
        <div id="story-output" style="display: none;">
            <div id="story-text" class="story-card"></div>
            <div id="choices"></div>
        </div>
        <div id="loader" class="loader" style="display: none;"></div>
    </div>

    <div id="popup" class="popup">
        <p id="popup-message" class="popup-message"></p>
        <button onclick="closePopup()">✖</button>
    </div>

</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script>
window.addEventListener("DOMContentLoaded", () => {
    restartGame();
})
</script>
</html>